nav {
  position: -webkit-sticky;
  margin-bottom: 60px;
  z-index: 10;
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed $indianYellow;
    background-color: $white;
    position: relative;
    li {
      margin-right: 15px;
      padding: 30px 0;
      a {
        color: $indianYellow;
      }
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 50px;
      background-color: $indianYellow;
    }
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 50px;
      background-color: $indianYellow;
    }
  }
}
